REACT_APP_SUPABASE_URL=https://lndgjrrhfceqpjfyofts.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxuZGdqcnJoZmNlcXBqZnlvZnRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NDY2NjgsImV4cCI6MjA4MjEyMjY2OH0.49kQcPLL127gRZ4XVK0uKtMH493sR6uosqPCvXmzx64